/* dragonball font */
@font-face {
  font-family: "Saiyan-Sans";
  src: url("../images/Saiyan-Sans.ttf") format("truetype"); 

}

/* apply our background and font */
body {
  font-family: "Saiyan-Sans";
  background-image: url("../images/background.jpg");
  background-size: 100% 140%;
  color: #FBE32C;
}

/* our jumbotron doesn't block our background image */
.jumbotron {
  background: none !important;
}

/* text size */
.textID {
  font-size: 2rem;
}

/* some spacing between our images */
.col-3 {
  flex: none;
  margin-right: 10px;
  padding: 15px;
}

/* goku image specs */
#goku {
  background-image: url(../images/goku.jpg);
  height: 200px;
  width: 160px;
}

/* vegeta image specs */
#vegeta {
  background-image: url(../images/vegeta.jpg);
  height: 200px;
  width: 160px;
}

/* broly image specs */
#broly {
  background-image: url(../images/broly.jpg);
  height: 200px;
  width: 160px;
}

/* jiren image specs */
#jiren {
  background-image: url(../images/jiren.jpg);
  height: 200px;
  width: 160px;
}